<footer class="">
<div class="footer-inside container-md">
<div class="row">
<div class="col-sm-6 col-lg-4 position-relative2">
    <i class="fas fa-cloud-download-alt"></i>
</div>
<div class="col-sm-6 col-lg-4 position-relative2">
    <p class="footer-text">ZADZWOŃ LUB WYŚLIJ SMS</p>   
</div>
<div class="col-sm-6 col-lg-4 position-relative2">
    <p class=" footer-text">ZADZWOŃ</p>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-lg-4 position-relative2 footer-nav">
        <a href="" class="footer-item">O NAS</a>
        <a href="" class="footer-item">KONTAKT</a>
        <a href="" class="footer-item">KARIERA</a>
        <a href="" class="footer-item">DLA MEDIÓW</a>
</div>
<div class="col-sm-6 col-lg-4 position-relative2 footer-icons">
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="yt-ic">
            <i class="fab fa-youtube fa-2x"></i>
          </a>
</div>
<div class="col-sm-6 col-lg-4 position-relative2">
    <p class="footer-text grey">(wg stawek operatorów)</p>
</div>
</div>
</div>
</footer>
