<nav>
<div class="container-md">
<div class="navbar navbar-expand-lg navbar-light ">
  <form action="/" method="POST" class="btn-nav">
  <button type="SUBMIT" class="btn btn-danger btn-circle btn-md"><i class="fas fa-caret-down"></i></button>
  </form>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto navbarSupportedContent">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-search margin_i"></i>Szukaj</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-user  margin_i"></i>Strefa abonenta</a>
      </li>
    </ul>
  </div>
</div>
</div>
</nav>

