<img class="img-responsive" src="img/three.png" alt="">
<form action="/pakiet" method="POST">
    <button type="submit" class="btn btn-primary btn-lg btn-block position-absolute1">STWÓRZ PAKIET</button>
</form>