<div class="col-sm-6 col-lg-4 position-relative1">
    <img class="img-responsive " src="img/five.png" alt="">
    <p class="title-pakiet">PAKIET 20GB LTE </p>
    <p class="subtitle-pakiet">PROMOCJA</p>
</div>
<div class="col-sm-6 col-lg-4"><img class="img-responsive" src="img/six.png" alt=""></div>
<div class="col-sm-6 col-lg-4 position-relative1">
    <p class="title-app">APLIKACJA</p>
    <p class="lorem">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis.</p>
    <img class="img-responsive position-absolute2" src="img/seven.png" alt="">
    <div class="icons-row3"><i class="fas fa-robot"></i><i class="fab fa-apple"></i><i class="fab fa-windows"></i></div>
</div>