<div class="col-sm-6 col-lg-4"><img class="img-responsive" src="img/five.png" alt=""></div>
<div class="col-sm-6 col-lg-4"><img class="img-responsive" src="img/six.png" alt=""></div>
<div class="col-sm-6 col-lg-4"><img class="img-responsive" src="img/seven.png" alt=""></div>