 <div class="row">
      <div class="col-sm-12 col-lg-8"  >
      {{> _row1div1}}  
      </div>
      <div class="col-sm-12 col-lg-4 " >
       {{> _row1div2}}
      </div>
 </div>
 <div class="row">
      <div class="col-sm-12 col-lg-8 position-relative1 bg-purple">
      {{> _row2div1}} 
      </div>
      <div class="col-sm-12 col-lg-4">
      {{> _row2div2}}     
      </div>
</div>
<div class="row">
      {{> _row3}}
</div>